@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
/* redes sociales */
* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear; }

html {
  background: #010103;
  width: 100%;
  font-size: .6rem;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth; }

section {
  padding: 2rem 7%; }

.mouse {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 8rem;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  z-index: 99999; }

.mouse-wheel {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite; }

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(1rem); } }

.btn, .btn_1 {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: color .5s;
  text-align: center; }
  .btn:hover, .btn_1:hover {
    color: #d3ad7f; }
    .btn:hover::before, .btn_1:hover::before {
      width: 150%; }
  .btn::before, .btn_1::before {
    content: '';
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -4.5rem;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width .5s; }

.btn_1 {
  background-color: #13131a; }
  .btn_1:hover {
    letter-spacing: .2rem;
    color: #d3ad7f;
    background-color: #fff; }

/* Css general*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #090979;
  background: linear-gradient(90deg, rgba(9, 9, 121, 0) 0%, rgba(136, 136, 136, 0.2) 35%, rgba(136, 136, 136, 0.2) 100%);
  position: fixed;
  padding: 4rem 2%;
  top: 0;
  right: 0;
  z-index: 1000; }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem;
  width: 15rem;
  height: 15rem;
  position: fixed;
  z-index: 1001; }
  .logo-container a img {
    position: absolute;
    width: 100%;
    height: 100%; }

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 85%;
  position: relative;
  flex-wrap: wrap; }
  .navbar a {
    margin: 0 5rem;
    font-size: 2rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    position: relative; }
    .navbar a:hover {
      color: #d3ad7f;
      border-bottom: solid #d3ad7f; }

.icons {
  display: flex;
  margin-right: 1rem; }
  .icons div {
    position: relative;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem; }
    .icons div:hover {
      color: #d3ad7f; }

.container-slider {
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: inset 0 0 2.5rem  #ddd; }

.slider__section {
  position: relative;
  width: 100%;
  height: 100vh; }
  .slider__section .slider__img {
    width: 100%;
    height: 100vh;
    opacity: .5;
    object-fit: cover; }

.container-slider1 {
  display: flex;
  width: 100%;
  height: 100vh;
  border: none;
  box-shadow: none;
  margin: 0 auto; }
  .container-slider1 .container {
    height: 85vh;
    width: 100%; }
    .container-slider1 .container p {
      font-size: 3rem;
      width: 70%;
      margin: 0 auto;
      text-align: center; }

.slider__section1 {
  display: flex;
  justify-content: space-around;
  padding: 7rem;
  position: relative;
  width: 100%;
  height: 100%; }
  .slider__section1 .slider__img1 {
    width: 40%;
    height: 40vh;
    align-self: center; }
  .slider__section1 .title {
    text-align: right;
    width: 40%;
    padding-right: 10rem;
    font-size: 8rem;
    align-self: center;
    color: #fff; }
    .slider__section1 .title span {
      color: #d3ad7f; }

#home {
  padding-bottom: 0px; }

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative; }
  .home .content {
    max-width: 60rem;
    padding-top: 10rem;
    position: absolute; }
    .home .content h1 {
      font-size: 6rem;
      text-transform: uppercase;
      color: #fff; }
      .home .content h1 span {
        color: #d3ad7f;
        text-transform: uppercase; }
    .home .content p {
      margin-left: 0;
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.8;
      padding: 0rem 0;
      color: #eee; }

#about {
  padding: 0 20rem; }
  #about .row, #about .contact1 .row1, .contact1 #about .row1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #13131a;
    flex-wrap: wrap; }
    #about .row .image, #about .contact1 .row1 .image, .contact1 #about .row1 .image {
      flex: 1 1 45rem; }
      #about .row .image img, #about .contact1 .row1 .image img, .contact1 #about .row1 .image img {
        width: 100%; }
    #about .row .content, #about .contact1 .row1 .content, .contact1 #about .row1 .content {
      flex: 1 1 45rem;
      padding: 2rem;
      margin: 2rem; }
      #about .row .content h3, #about .contact1 .row1 .content h3, .contact1 #about .row1 .content h3 {
        font-size: 3rem;
        color: #fff; }
      #about .row .content p, #about .contact1 .row1 .content p, .contact1 #about .row1 .content p {
        width: 30em;
        font-size: 2rem;
        color: #ccc;
        padding: 1rem 0;
        line-height: 1.8;
        margin-left: 0; }

.heading {
  text-align: center;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  font-size: 4rem; }
  .heading span {
    color: #d3ad7f;
    text-transform: uppercase; }

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  font-size: 4rem; }
  .heading span {
    color: #d3ad7f;
    text-transform: uppercase; }

#menu {
  padding: 0 10rem; }

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.3); }
    .menu .box-container .box:hover {
      background: #fff; }
    .menu .box-container .box:hover > h3 {
      color: #13131a; }
    .menu .box-container .box img {
      max-width: 40rem;
      max-height: 40rem; }
    .menu .box-container .box h3 {
      color: #fff;
      font-size: 3rem;
      padding: 1.5rem 0; }

.menu .btn, .menu .btn_1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  position: relative;
  margin-top: 2rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  background: #d3ad7f;
  cursor: pointer;
  transition: color .5s; }

#products {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  max-width: 70%;
  overflow: hidden;
  margin: auto; }

.products .heading {
  width: 30rem;
  padding: 2rem 0; }

.products .box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 0;
  gap: .5rem; }
  .products .box-container .box {
    display: block;
    margin-bottom: 1rem;
    text-align: center; }
    .products .box-container .box .image {
      padding: 2rem 0; }
      .products .box-container .box .image .image1 {
        height: 50rem; }
  .products .box-container .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 33rem;
    padding: .8rem;
    z-index: 0; }
    .products .box-container .box1:hover a {
      background: #000; }

.content a {
  position: relative;
  z-index: 1; }

.content h3 {
  color: #fff;
  font-size: 3rem; }

.content .price {
  color: #fff;
  font-size: 2.5rem; }
  .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem; }

#review {
  padding: 0 10rem; }

.review a {
  text-decoration: underline; }
  .review a:visited {
    color: #fff; }

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .review .box-container .box {
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 3rem 2rem; }
    .review .box-container .box p {
      font-size: 2rem;
      line-height: 1.8;
      color: #ccc;
      padding: 2rem 0; }
    .review .box-container .box .user {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      object-fit: cover; }
    .review .box-container .box h3 {
      padding: 1rem 0;
      font-size: 2rem;
      color: #fff; }
    .review .box-container .box .stars i {
      font-size: 1.5rem;
      color: #d3ad7f; }

#contact {
  padding: 0 10rem 4rem 10rem;
  position: relative; }

.contact .row, .contact .contact1 .row1, .contact1 .contact .row1 {
  display: flex;
  flex-wrap: wrap;
  background: #13131a;
  gap: 1rem; }
  .contact .row .map, .contact .contact1 .row1 .map, .contact1 .contact .row1 .map {
    flex: 1 1 45rem;
    width: 100%;
    height: 600px;
    object-fit: cover; }
  .contact .row form, .contact .contact1 .row1 form, .contact1 .contact .row1 form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center; }
    .contact .row form h3, .contact .contact1 .row1 form h3, .contact1 .contact .row1 form h3 {
      text-transform: uppercase;
      font-size: 3.5rem;
      color: #fff; }
    .contact .row form .inputBox, .contact .contact1 .row1 form .inputBox, .contact1 .contact .row1 form .inputBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background: #010103;
      border: 0.1rem solid rgba(255, 255, 255, 0.3); }
      .contact .row form .inputBox span, .contact .contact1 .row1 form .inputBox span, .contact1 .contact .row1 form .inputBox span {
        color: #fff;
        font-size: 2rem;
        padding-left: 2rem; }
      .contact .row form .inputBox input, .contact .contact1 .row1 form .inputBox input, .contact1 .contact .row1 form .inputBox input, .contact .row form .inputBox textarea, .contact .contact1 .row1 form .inputBox textarea, .contact1 .contact .row1 form .inputBox textarea {
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
        text-transform: none;
        background: none;
        color: #fff; }
      .contact .row form .inputBox textarea, .contact .contact1 .row1 form .inputBox textarea, .contact1 .contact .row1 form .inputBox textarea {
        resize: none;
        height: 18rem; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; }

/* Sección contact */
.textContact {
  width: 40%;
  margin: 8rem auto; }
  .textContact p {
    font-size: 5rem; }

.contact1 .row1 {
  margin: 0 auto;
  max-width: 150rem; }
  .contact1 .row1 form {
    flex: 1 1 45rem;
    padding: 5rem 10rem;
    text-align: center; }
    .contact1 .row1 form h3 {
      margin-bottom: 3rem;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: #fff; }
    .contact1 .row1 form .inputs {
      display: flex;
      gap: 1.5rem; }
    .contact1 .row1 form .inputBox1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: 2rem;
      background: #010103;
      border: 0.1rem solid rgba(255, 255, 255, 0.3); }
      .contact1 .row1 form .inputBox1 span {
        color: #fff;
        font-size: 2rem;
        padding-left: 2rem; }
      .contact1 .row1 form .inputBox1 input, .contact1 .row1 form .inputBox1 textarea {
        padding: 2rem;
        font-size: 1.7rem;
        text-transform: none;
        background: none;
        color: #fff; }
      .contact1 .row1 form .inputBox1 textarea {
        resize: none;
        height: 18rem; }

footer {
  background: #13131a;
  text-align: center; }
  footer .links {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem; }
    footer .links a {
      padding: .7rem 2rem;
      color: #fff;
      border: 0.1rem solid rgba(255, 255, 255, 0.3);
      font-size: 1.5rem; }
      footer .links a:hover {
        background-color: #d3ad7f; }
  footer .credit {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
    padding: 1rem; }
    footer .credit span {
      color: #d3ad7f; }

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem auto;
  width: 100%;
  height: 80px;
  font-size: 40px; }

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .social_icons li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px black;
    text-decoration: none;
    color: #555; }
    .social_icons li a::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -20px;
      height: 100%;
      width: 20px;
      background: #b2b2b2;
      transition: 0.5s;
      transform: rotate(0deg) skewY(-45deg); }
    .social_icons li a::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -10px;
      height: 20px;
      width: 100%;
      background: #e5e5e5;
      transition: 0.5s;
      transform: rotate(0deg) skewX(-45deg); }
    .social_icons li a:hover {
      transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
      box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5); }
  .social_icons li img {
    width: 40px;
    height: 40px; }
  .social_icons li:hover:nth-child(1) a {
    background-color: #3b5999; }
    .social_icons li:hover:nth-child(1) a::before {
      background-color: #3b5999; }
    .social_icons li:hover:nth-child(1) a::after {
      background-color: #3b5999; }
  .social_icons li:hover:nth-child(2) a {
    background-color: #128C7E; }
    .social_icons li:hover:nth-child(2) a::before {
      background-color: #128C7E; }
    .social_icons li:hover:nth-child(2) a::after {
      background-color: #128C7E; }
  .social_icons li:hover:nth-child(3) a {
    background-color: #25D366; }
    .social_icons li:hover:nth-child(3) a::before {
      background-color: #25D366; }
    .social_icons li:hover:nth-child(3) a::after {
      background-color: #25D366; }

/* Css about */
.imgContainer {
  height: 100%;
  overflow: hidden; }
  .imgContainer .text {
    font-size: 2.5rem;
    width: 400px;
    margin: 5rem auto;
    text-align: justify; }

.textContainer {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  width: 700px; }
  .textContainer .title {
    color: #fff;
    font-size: 8rem;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 300; }
  .textContainer span {
    color: #d3ad7f; }

p {
  color: #fff;
  margin: 1rem 3rem;
  text-align: justify;
  font-size: 2rem; }

.gridContainer {
  grid-template-columns: 400px 400px;
  grid-gap: .5rem;
  display: grid;
  gap: .5rem;
  height: 100%;
  margin: 2rem auto;
  overflow: hidden;
  padding: 2rem 0;
  width: 800px; }
  .gridContainer .item {
    height: 400px;
    width: 400px;
    object-fit: cover; }

.gridRows {
  grid-gap: .3rem;
  display: grid;
  gap: .3rem;
  grid-template-columns: 200px 200px; }
  .gridRows .item2 {
    height: 195px;
    width: 195px;
    object-fit: cover; }

.textContainer1 {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  width: 60%;
  padding: 10rem; }
  .textContainer1 .subTitle {
    color: #fff;
    font-size: 20rem;
    text-align: center;
    text-transform: uppercase; }
  .textContainer1 .history {
    display: flex; }

.logo1 {
  display: flex;
  filter: grayscale(100%);
  margin: 0 auto 5rem;
  width: 100px; }

/* Css venta*/
.popular {
  margin: 8rem; }
  .popular h1 {
    margin-top: 5rem; }
  .popular .box-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    gap: 1rem; }
    .popular .box-container img {
      width: 80%; }
    .popular .box-container h3 {
      color: #d3ad7f;
      font-size: 5rem;
      font-weight: 400;
      text-align: center; }
    .popular .box-container .box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin: 2rem;
      padding: 3rem;
      overflow: hidden; }
      .popular .box-container .box span {
        background-color: #fff;
        color: var(--main-color);
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem; }
      .popular .box-container .box .img_container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 60%; }

/* Css productos*/
.container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding: 2rem;
  margin: 10rem auto 3rem auto;
  width: 60%;
  scroll-padding: 2rem;
  gap: 2.5rem; }
  .container .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 86vh;
    position: relative;
    padding: 5rem;
    border-radius: .5rem;
    scroll-snap-align: start;
    background-color: rgba(211, 173, 127, 0.7);
    overflow: hidden; }
    .container .item h2 {
      font-size: 8rem;
      text-transform: capitalize; }
    .container .item p {
      color: #000;
      text-align: center;
      font-size: 2.5rem;
      opacity: 0;
      transform: translate(-1.8rem);
      transition: opacity 0.25s, translate 0.25s; }
    .container .item h2 {
      letter-spacing: 1px;
      text-transform: uppercase; }
    .container .item img {
      position: relative;
      display: block;
      height: 100%;
      max-width: 101rem;
      object-fit: cover;
      opacity: 0.4;
      scale: 1.15;
      transition: opacity 0.25s, scale 0.35s; }
    .container .item div {
      position: absolute;
      inset: 0;
      padding: 20rem;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
      justify-content: center; }
      .container .item div::before {
        content: "";
        position: absolute;
        inset: 2rem;
        border: 2px solid #fff;
        opacity: 0;
        scale: 1.25;
        transition: opacity 0.25s, scale 0.25s; }
    .container .item:hover img {
      opacity: 0.2;
      scale: 1; }
    .container .item:hover p {
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 1;
      transform: translate(0); }
    .container .item:hover div::before {
      opacity: 1;
      scale: 1; }

/* media queries */
@media (max-width: 1200px) {
  .menu .box-container .box img {
    max-width: 20rem; }
  .home .content h1 {
    font-size: 5rem; }
  .home .content p {
    font-size: 1.5rem; }
  .home .content .btn, .home .content .btn_1 {
    font-size: 1.5rem; }
  .logo-container {
    margin: 2rem 1rem 0 2rem; }
    .logo-container a img {
      position: relative;
      top: 4rem;
      left: 2rem; }
  section {
    padding: 10rem; }
  .header .navbar a {
    margin: 0 3rem; }
  .products .box-container {
    gap: 3rem; }
  .footer {
    padding: .8rem; }
  .container {
    width: 70%; }
    .container .item div h2 {
      font-size: 6rem; }
    .container .item div p {
      font-size: 2rem; }
  .container-slider1 .container .slider__section1 .title {
    font-size: 5rem; }
  .popular {
    margin: 3rem 3rem;
    padding: 4rem; }
    .popular h1 {
      margin-top: 4rem; }
    .popular .box-container h3 {
      font-size: 3rem; }
    .popular .box-container a {
      font-size: 1.2rem; } }

@media (max-width: 1024px) {
  .header {
    padding: 4rem 2%; }
    .header .navbar {
      width: 80%;
      left: 10rem; }
      .header .navbar a {
        font-size: 1.5rem; }
  .logo-container {
    width: 13rem;
    height: 13rem; }
  section {
    padding: 10rem; }
  .home .content h1 {
    font-size: 4rem; }
  #about .row .content h3, #about .contact1 .row1 .content h3, .contact1 #about .row1 .content h3 {
    font-size: 2.5rem; }
  #about .row .content p, #about .contact1 .row1 .content p, .contact1 #about .row1 .content p {
    max-width: 25em;
    font-size: 1.7rem; }
  #about .row .content .btn, #about .contact1 .row1 .content .btn, .contact1 #about .row1 .content .btn, #about .row .content .btn_1, #about .contact1 .row1 .content .btn_1, .contact1 #about .row1 .content .btn_1 {
    font-size: 1.5rem; }
  .menu .box-container .box img {
    max-width: 20rem;
    max-height: 20rem; }
  .textContainer1 {
    width: 80%;
    padding: 5rem; }
    .textContainer1 .subTitle {
      font-size: 15rem; }
  .container .item div {
    padding: 10rem; }
    .container .item div h2 {
      font-size: 6rem; }
    .container .item div p {
      font-size: 2rem; }
  .popular {
    margin: 4rem;
    padding: 2rem; } }

@media (max-width: 760px) {
  .header .navbar {
    left: 10rem;
    width: 80%; }
    .header .navbar a {
      margin: 0 2rem; }
  .logo-container {
    width: 10rem;
    height: 10rem; }
  #about {
    padding: 0 15rem; }
  html {
    font-size: .5rem; }
  .home {
    background-position: left;
    justify-content: center;
    text-align: center; }
    .home .content h1 {
      font-size: 4.5rem; }
    .home .content p {
      text-align: center; }
  .menu .box-container .box h2 {
    font-size: 2.6rem; }
  footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem; }
    footer .links a {
      padding: .7rem 2rem;
      color: #fff;
      border: 0.1rem solid rgba(255, 255, 255, 0.3);
      font-size: 1.5rem; }
  .gridContainer {
    grid-template-columns: 300px 300px;
    width: 600px;
    gap: .8rem; }
    .gridContainer .item {
      height: 300px;
      width: 300px; }
  .gridRows {
    grid-template-columns: 150px 150px;
    gap: .4rem; }
    .gridRows .item2 {
      height: 147px;
      width: 147px; }
  .container {
    width: 75%; }
    .container .item div h2 {
      font-size: 6rem; }
    .container .item div p {
      font-size: 2rem; }
  .container-slider1 .container .slider__section1 .title {
    width: 50%;
    padding-right: 5rem;
    font-size: 4rem; }
  .contact1 .row1 .inputs {
    margin: 0 auto;
    flex-wrap: wrap; }
    .contact1 .row1 .inputs .inputBox1 {
      margin-top: .5rem; }
  .popular {
    margin: 2rem;
    padding: 4rem; }
    .popular .box-container img {
      width: 80%; }
    .popular .box-container .box {
      width: 20rem; }
      .popular .box-container .box .btn, .popular .box-container .box .btn_1 {
        font-size: 1rem; }
      .popular .box-container .box span {
        font-size: 1rem;
        padding: .5rem;
        margin: .5rem; } }

@media (max-width: 480px) {
  .header {
    padding: 2rem; }
    .header .navbar {
      display: none; }
    .header .icons div {
      position: absolute;
      right: 3rem; }
  .logo-container {
    width: 8rem;
    height: 8rem; }
  .home .content {
    padding-top: 0; }
  #about {
    padding: 0 10rem; }
  html {
    font-size: .3rem; }
  footer .links a {
    padding: .7rem 1rem;
    color: #fff;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 1.5rem; }
  footer .links:hover {
    background-color: #d3ad7f; }
  .gridContainer {
    grid-template-columns: 200px 200px;
    width: 400px;
    gap: .8rem; }
    .gridContainer .item {
      height: 200px;
      width: 200px; }
  .gridRows {
    grid-template-columns: 100px 100px;
    gap: .6rem; }
    .gridRows .item2 {
      height: 95px;
      width: 95px; }
  .textContainer1 {
    width: 90%;
    padding: 2rem; }
    .textContainer1 .subTitle {
      font-size: 15rem; }
  .imgContainer .text {
    width: 50%; }
  .container {
    width: 80%; }
    .container .item {
      height: 63vh; }
      .container .item img {
        height: 35rem; }
      .container .item div {
        padding: 2rem; }
        .container .item div h2 {
          font-size: 6rem; }
        .container .item div p {
          font-size: 2rem; }
  .container-slider1 .container .slider__section1 {
    flex-direction: column; }
    .container-slider1 .container .slider__section1 .slider__img1 {
      display: none; }
    .container-slider1 .container .slider__section1 .title {
      text-align: center;
      width: 80%;
      margin: 0;
      padding: 0;
      font-size: 7rem; }
  .contact1 .row1 form {
    padding: 3rem 2rem; }
  .contact1 .row1 .inputs .inputBox1 {
    margin-top: .5rem; }
  .popular {
    margin: 1rem;
    padding: 1rem; }
    .popular h1 {
      font-size: 6rem; }
    .popular .box-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .popular .box-container h3 {
        font-size: 8rem; }
      .popular .box-container img {
        width: 80%; }
      .popular .box-container .box {
        width: 100%;
        margin: 0; }
        .popular .box-container .box .btn, .popular .box-container .box .btn_1 {
          font-size: 3rem; }
        .popular .box-container .box span {
          font-size: 3rem;
          padding: 1rem; } }

@media (max-width: 320px) {
  html {
    font-size: .3rem; }
  .header {
    padding: 1.5rem 2rem; }
  .logo-container {
    width: 6rem; }
    .logo-container a img {
      top: 3rem;
      left: 0; }
  .home .content {
    width: 150px; }
    .home .content h1 {
      font-size: 4rem; }
    .home .content p {
      margin: 1rem 0;
      text-align: center;
      font-size: 1.5rem; }
    .home .content .btn, .home .content .btn_1 {
      padding: 1rem 1rem; }
  #about {
    padding: 0 5rem; }
    #about .row .content, #about .contact1 .row1 .content, .contact1 #about .row1 .content {
      width: 15rem;
      margin: 0; }
      #about .row .content h3, #about .contact1 .row1 .content h3, .contact1 #about .row1 .content h3 {
        font-size: 2rem; }
      #about .row .content p, #about .contact1 .row1 .content p, .contact1 #about .row1 .content p {
        width: 20em;
        font-size: 1.3rem; }
      #about .row .content .btn, #about .contact1 .row1 .content .btn, .contact1 #about .row1 .content .btn, #about .row .content .btn_1, #about .contact1 .row1 .content .btn_1, .contact1 #about .row1 .content .btn_1 {
        margin-left: 3rem;
        font-size: 1rem; }
  #menu {
    padding: 0 2rem; }
  .menu .box-container .box {
    padding: 2rem; }
  #products {
    max-width: 80%; }
  .products .box-container {
    gap: .1rem; }
    .products .box-container .box .image .image1 {
      height: 20rem; }
  #review {
    padding: 0 2rem; }
  #contact {
    padding: 0 2rem 2rem 2rem; }
  .container-slider .slider__section .mouse .mouse-wheel {
    font-size: 5rem; }
  .textContainer p {
    width: 150px; }
  .textContainer1 {
    width: 90%;
    padding: .5rem 0; }
    .textContainer1 .subTitle {
      font-size: 10rem; }
    .textContainer1 .history {
      padding: 0;
      margin: 0 2rem; }
      .textContainer1 .history p {
        margin: 0 1rem; }
  .gridContainer {
    grid-template-columns: 120px 120px;
    width: 240px;
    gap: .8rem; }
    .gridContainer .item {
      height: 120px;
      width: 120px; }
  .gridRows {
    grid-template-columns: 60px 60px;
    gap: .4rem; }
    .gridRows .item2 {
      height: 55px;
      width: 55px; }
  .container {
    width: 90%; }
    .container .item {
      height: 40vh; }
      .container .item img {
        width: 50rem; }
      .container .item div {
        padding: 2rem; }
        .container .item div h2 {
          font-size: 5rem; }
        .container .item div p {
          font-size: 2rem; }
  .container-slider1 .container {
    padding-bottom: 10rem; }
    .container-slider1 .container .slider__section1 {
      padding-bottom: 7rem; }
      .container-slider1 .container .slider__section1 .title {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 5rem; }
    .container-slider1 .container p {
      font-size: 2rem; }
  .popular .box-container h3 {
    font-size: 5rem; }
  .popular .box-container .box .btn, .popular .box-container .box .btn_1 {
    font-size: 2rem; } }

/*
prueba de optimizacion para moviles de google
open-graph
xml sitemaps
*/
