@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.logo-container{
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: -70px 10px 0px 70px;
    position: fixed;
    z-index: 1001;
    backdrop-filter: blur(5px);
}

.logo a img{
    position: relative;
    top: 180px;
    left: 10px;
    padding: 10px;
    width: 90%;
    height: 90%;
    z-index: 1010;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body{
    /* position: absolute; */
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    backdrop-filter: blur(50px);
    cursor: pointer;
    transition: color .5s;
}
.btn:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

.btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width .5s;
}

.btn:hover::before{
    width: 150%;
}

.menu .box-container .btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    position: relative;
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--main-color);
    cursor: pointer;
    transition: color .5s;
}

.menu .box-container .btn:hover{
    color: #fff;
}

.menu .box-container .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #000;
    transform: skewX(35deg);
    z-index: -1;
    transition: width .5s;
}

.menu .box-container .btn:hover::before{
    width: 150%;
}

.btn_1{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 2rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background-color: var(--black);
    cursor: pointer;
    transition: color s;
}
.btn_1:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
    background-color: #fff;
}

.header{
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2%;
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header .navbar{
    position: relative;
}

.header .navbar a{
    margin: 0 5rem;
    font-size: 2rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    position: relative;
    left: 80rem;
}

.header .navbar a span{
    display: none;
}

.header .navbar a:hover{
    color: #f09422;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 40rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(80vh - 9.5rem);
    width: 35rem; 
    transition: all .5s;
    padding: 0 1.5rem;
    background: #fff;
    /* opacity: 0.9; */
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .last{
    position: relative;
    margin: 0rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 6.6rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-color);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: #000;
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    background: var(--main-color);
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: -80px;
    margin-bottom: 25px;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 500px;
    height: 500px;
    transition: .5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
}

.container .card:hover .face.face1{
    background: var(--main-color);
    transform: translateY(200px);
}

.container .card .face.face1 .content{
    transition: .5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 250px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 3em;
}

.container .card .face.face2{
    height: 400px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-300px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    position: relative;
    font-size: 1.5rem;
    top: 100px;
    margin: 30px;
    padding: 0;
}

.container .card .face.face2 .content .btn{
    position: relative;
    left: 150px;
    top: 50px;
    color: #fff;
    background-color: #000;
    border: 1px solid #333;
}

.container .card .face.face2 .content .btn:hover{
    color: var(--main-color);
}

.container .card .face.face2 .content .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width .5s;
}

.container .card .face.face2 .content .btn:hover::before{
    width: 150%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .5rem;
    border-radius: 50%;
}

.footer .share .wp{
    display: inline-block;
}

.footer .share .wp .wp__1{
    position: relative;
    top: 2px;
    height: 2.3rem;
}
.footer .share .wp .wp__2{
    position: relative;
    top: -1px;
    height: 1.8rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 1.5rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}

@media (max-width:1200px) {
    .menu .box-container .box img {
        max-width: 300px;
    }

    html {
        font-size: 55%;
    }

    .header .navbar a {
        left: 300px;
        font-size: 2rem;
        margin: 0 3.5rem;
    }

    .container{
        top: 140px;
        position: relative;
        margin-bottom: 0;
    }

    .container .card .face{
        width: 300px;
        height: 300px;
    }

    .container .card .face.face1 .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .card .face.face1 .content h3{
        font-size: 3em;
    }

    .container .card .face.face1 .content img{
        max-width: 100px;
    }

    .container .card .face.face2{
        height: 150px;
        padding: 20px;
        transform: translateY(0px);
    }
    
    .container .card:hover .face.face2{
        transform: translateY(200px);
    }
    
    .container .card .face.face2 .content p{
        font-size: 1.3rem;
        top: 20px;
        margin: 30px;
        padding: 0;
    }
    
    .container .card .face.face2 .content .btn{
        left: 95px;
        top: -20px;
        font-size: 1.2rem;
        padding: 5px;
    }

    section {
        padding: 10rem;
    }

    .footer {
        position: relative;
        top: 410px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

}