#about{
    padding: 0 20rem;
    
    .row{
        @include propiedades-flex(flex-start,center);
        width: 100%;  
        background: $black;
        flex-wrap: wrap;
        
        .image{
            flex: 1 1 45rem;
            img{
                width: 100%;
            }
        }
        .content{ 
            flex: 1 1 45rem;
            padding: 2rem;
            margin: 2rem;
            
            h3{
                font-size: 3rem;
                color: #fff;
            }
            
            p{
                width: 30em;
                font-size: 2rem;
                color: #ccc;
                padding: 1rem 0;
                line-height: 1.8;
                margin-left: 0;
            }
        }
    }
}


.heading{
    text-align: center;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;

    
    span{
        color: $main-color;
        text-transform: uppercase;
    }
}