.container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding: 2rem;
  margin: 10rem auto 3rem auto;
  width: 60%;
  scroll-padding: 2rem;
  gap: 2.5rem;

  .item {
    @include propiedades-flex(center, center);
    flex-direction: column;
    height: 86vh;
    position: relative;
    padding: 5rem;
    border-radius: 0.5rem;
    scroll-snap-align: start;
    background-color: rgba(211, 173, 127, 0.7);
    overflow: hidden;

    h2 {
      font-size: 8rem;
      text-transform: capitalize;
    }
    p {
      color: #000;
      text-align: center;
      font-size: 2.5rem;
      opacity: 0;
      transform: translate(-1.8rem);
      transition: opacity 0.25s, translate 0.25s;
    }

    h2 {
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    img {
      position: relative;
      display: block;
      height: 100%;
      max-width: 101rem;
      object-fit: cover;
      opacity: 0.4;
      scale: 1.15;
      transition: opacity 0.25s, scale 0.35s;
    }

    div {
      position: absolute;
      inset: 0;
      padding: 20rem;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        inset: 2rem;
        border: 2px solid #fff;
        opacity: 0;
        scale: 1.25;
        transition: opacity 0.25s, scale 0.25s;
      }
    }

    &:hover {
      img {
        opacity: 0.2;
        scale: 1;
      }

      p {
        background-color: rgba(255, 255, 255, 0.3);
        opacity: 1;
        transform: translate(0);
      }

      div::before {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
